*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
nav{
	margin: 0 auto;
	padding: 20px 0;
	width: 400px;
	opacity: 1;
}
nav a{
	margin: 0 25px;
	font-weight: lighter;
	color: #F96C4D;
}
body{
	background-color: rgba(200,200,200,0.9);}
main{
	padding: 0 20%;
}
main #inner{
	padding: 5%;
	background-color: white;
}

h1{
	font-family: Arial;
	text-align: center;
}
img{
	display: block;
	margin: 10px auto;
	width: 50%;
	height: auto;
}
h2{
	font-family: sans-serif;
	font-size: 1.2rem;
}
p{
	margin: 5px 0;
}
.question{
	margin-top: 50px;
}
.question p{
	font-style: italic;
}
.question p::before{
	content: 'Q: ';
	font-style: italic;
}
.reponse{
	margin-top: 15px;
}
.reponse p::before{
	content: 'R: ';
	font-style: italic;
}
.reponse p .repondants{
	font-weight: bold;
}
.reponse p .repondants::after{
	content: ": "
}
