#drawing-box div{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border: 1px solid;
}

@keyframes scaleAnimation {
	0%, 100% {
		transform: scale(1);
	}
	50%{
		transform: scale(3);
	}
	65%{
		transform: scale(2.5);
	}
	80%{
		transform: scale(3);
	}
}
